<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/me.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="mcontent">
            {{>header}}
        </div>
        {{>footer}}
    </body>
</html>